faiss-cpu==1.9.0
fastapi==0.115.5
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.18
langchain-openai==0.2.8
langchain-text-splitters==0.3.2
openai==1.54.4
python-dotenv==1.0.1
requests==2.32.3
tiktoken==0.8.0
uvicorn